@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-yellow-400;
    font-family: "Righteous", sans-serif, serif;
    /* fon */
  }

  a {
    text-decoration: underline;
  }
  .card-img {
    width: 222px;
    height: 322px;
  }

  .rotate-card {
    transform: rotateY(180deg);
  }

  .preserve {
    transform-style: preserve-3d;
  }

  .visibility {
    backface-visibility: hidden;
  }

  .card {
    box-shadow: 7px 7px 1px 1px black;
    border: 1px solid black;
  }

  .btn {
    @apply px-4 py-2 my-2 border border-black transition;
    box-shadow: 7px 7px 1px 1px black;
  }

  .btn:hover {
    transform: translate(7px, 7px);
    box-shadow: 0 0;
  }
}
